<div id="ventana_40-ctrl" ng-controller="editar-menu-principal-ctrl">
	<div class="ventana-header ventana-header-color">
		<div class="col-md-12" ng-show="sel==-1">
			<span>Seleccionar item del menú</span>
		</div>
		<form class="formulario" ng-hide="sel==-1">
			<div class="col-md-12">
				<span>Menú ID:{{itemMenu.id}}</span>
			</div>
			<div class="col-md-12">
				<span>Contenedor ID: {{itemMenu.padre}}
				</span>
			</div>
			<div class="col-md-12">
				<label>Nombre Contenedor</label>
				<select ng-model="itemMenu.padre" ng-value="itemMenu.padre">
					<option value="9999">9999 - MODULO</option>
					<option ng-repeat = "l in menuPrincipal | filter:{href:'+'}" value="{{l.id}}">
						{{l.id}} - {{l.nombre}}
					</option>
				</select>
			</div>
			<div class="col-md-12">
				<label>Nombre</label>
				<input type="text" ng-model="itemMenu.nombre" />
	  		</div>
			<div class="col-md-12">
				<label>href</label>
				<input id="ventana_40-edit-href" type="text" ng-model="itemMenu.href" />
			</div>
			<div class="col-md-12">
				<label>icon <span class="glyphicon glyphicon-{{itemMenu.icon}}"></span></label>
				<input id="ventana_40-edit-icon" type="text" ng-model="itemMenu.icon" />
			</div>
			<div class="col-md-12">
				<label>Ancho</label>
				<input type="number" ng-model="itemMenu.ancho" />
			</div>
			<div class="col-md-12">
				<label>Alto</label>
				<input type="number" ng-model="itemMenu.alto" />
			</div>
			<div class="col-md-12">
				<label>Ajustable</label>
				<input type="text" ng-model="itemMenu.ajustable" />
			</div>
			<div class="col-md-12">
				<label>Visible</label>
				<input type="text" ng-model="itemMenu.visible" />
				<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-model="itemMenu.visible"
				      			ng-true-value="1" ng-false-value="0" /> Visible
				    </label>
	  			</div>
	  		</div>
			<div class="col-md-12">
				<label>Permiso grupo</label>
				<input type="text" ng-model="itemMenu.permiso_grupo" />
			</div>
		</form>
	</div>
	<div class="ventana-body ventana-body-color">
		<ul class="nav nav-tabs nav-stacked menu-principal-editor">
			<li ng-repeat="mod in menuPrincipal | filter:mod.padre='9999'">
				<a 	href=""
					data-toggle="collapse" 
					data-target="#me{{mod.id}}" 
					aria-expanded="false" 
					aria-controls="me{{mod.id}}"
					ng-dblclick="editar(menuPrincipal.indexOf(mod))"
					class="ng-a">
						{{mod.id}}. {{mod.nombre}}
				</a>
				<ul class="collapse" id="me{{mod.id}}">
					<li ng-repeat="menu0 in menuPrincipal | filtroSubmenu:mod.id">
						<a 	href=""
							data-toggle="collapse" 
							data-target="#me{{menu0.id}}"
							aria-expanded="false" 
							aria-controls="me{{menu0.id}}"
							ng-dblclick="editar(menuPrincipal.indexOf(menu0))"
							class="ng-a">
								<span class="glyphicon glyphicon-{{menu0.icon}}"></span> {{menu0.id}}. {{menu0.nombre}}
						</a>
						<ul class="collapse" id="me{{menu0.id}}">
							<li ng-repeat="menu1 in menuPrincipal | filtroSubmenu:menu0.id">
								<a 	href=""
									data-toggle="collapse" 
									data-target="#me{{menu1.id}}" 
									aria-expanded="false" 
									aria-controls="me{{menu1.id}}"
									ng-dblclick="editar(menuPrincipal.indexOf(menu1))" 
									class="ng-a">
										<span class="glyphicon glyphicon-{{menu1.icon}}"></span> {{menu1.id}}. {{menu1.nombre}}
								</a>
								<ul class="collapse" id="me{{menu1.id}}">
									<li ng-repeat="menu2 in menuPrincipal | filtroSubmenu:menu1.id">
										<a ng-href="" ng-dblclick="editar(menuPrincipal.indexOf(menu2))" class="ng-a">
											<span class="glyphicon glyphicon-{{menu2.icon}}"></span> {{menu2.id}}. {{menu2.nombre}}
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="ventana-footer ventana-footer-color">
		<span class="dropdown pull-left dropup" ng-hide="sel==-1">
	  		<button class="btn btn-default dropdown-toggle"
	  				type="button"
	  				id="ventana_40-acciones"
	  				data-toggle="dropdown"
	  				aria-haspopup="true"
	  				aria-expanded="false">
			    Acciones
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="ventana_40-acciones">
			    <li><a href="" >M - Nuevo Módulo</a></li>
			    <li><a href=""><img src="/img/li_sub.png" /> Nuevo Contenedor</a></li>
			    <li><a href=""><img src="/img/li_app.png" /> Nueva acción</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="">X - Eliminar</a></li>
			  </ul>
		</span>
		<span class="dropdown pull-left dropup" ng-hide="href=='+' || href=='-'">
	  		<button class="dropdown-toggle"
	  				type="button"
	  				id="ventana_40-acciones"
	  				data-toggle="dropdown"
	  				aria-haspopup="true"
	  				aria-expanded="false">
			    Archivos
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="ventana_40-acciones">
			    <li><a href="" ng-click="crear_plantilla_base(itemMenu.href, itemMenu.id)">Crear Plantilla Base ({{itemMenu.href}})</a></li>
			    <li><a href="">Crear Plantilla 2</a></li>
			    <li><a href="">Crear Plantilla 3</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="" ng-mouseup="crear_controlador(itemMenu.id, itemMenu.href)">Crear Controlador ({{itemMenu.href}})</a></li>
			  </ul>
		</span>
		<button ng-click="grabar(sel)" ng-hide="sel==-1" class="btn btn-default pull-right">Grabar</button>
	</div>
</div>