<div id="listado-panaderos-ctrl" ng-controller="listado-panaderos-ctrl">

	<div class="ventana-header ventana-header-color">
	elementos del header
	</div>
	<div class="ventana-body ventana-body-color">

		<!-- <ul>
			<li ng-repeat="l in panaderos">
				{{l.empleado}} - {{l.boleta_salario}}
			</li>
		</ul> -->
		<ul>
			<li class="dropdown" ng-repeat="l in panaderos | unique:'empleador_id'"
				data-toggle 	= "collapse"
				data-target 	= "#{{ventanaID}}-empleados_{{l.empleador_id}}"
				aria-expanded 	= "false"
				aria-controls 	= "{{ventanaID}}-empleados_{{l.empleador_id}}"
			>
				{{$index}}) {{l.empleador_id}}. {{l.empleador}} <span class="caret"></span>
				<ul  class="collapse" id="{{ventanaID}}-empleados_{{l.empleador_id}}">
					<li ng-repeat="e in panaderos | mismoEmpleador:l.empleador_id | unique:'empleado_id'">
							{{e.empleado_id}}. {{e.empleado}} - ({{e.empleador_id}})
							<ul>
								<li ng-repeat="b in panaderos | mismoEmpleado:e.empleado_id | mismoEmpleador:e.empleador_id">
									{{b.empleado_id}}. {{b.boleta_periodo}} - {{b.boleta_salario}} - {{b.boleta_pago}}
								</li>
							</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="ventana-footer ventana-footer-color">
		<span class="dropdown pull-left dropup">
	  		<button class="btn btn-default dropdown-toggle"
	  				type="button"
	  				id="{{ventanaID}}-acciones"
	  				data-toggle="dropdown"
	  				aria-haspopup="true"
	  				aria-expanded="false">
			    Acciones
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="{{ventanaID}}-acciones">
			    <li><a href="">Acción 1</a></li>
			    <li><a href="">Acción 2</a></li>
			    <li><a href="">Acción 3</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="">Acción 4</a></li>
			  </ul>
		</span>
		Elementos del footer
		<button class="btn btn-default pull-right">Botón</button>
	</div>
</div>
