#ventana_40-ctrl {
	background  : #e9e9e9;
	width  		: 100%;
	height 		: 100%;
}
#ventana_40 .menu-principal-editor {
	width 		: 440px;
	border 		: solid 1px black;
}
#ventana_40 .ventana-header {
	position 	: absolute;
	top 		:   0;
	left 		: 480px;
	right 		:   5px;
	bottom 		:  40px;
	padding   	:   2px;
}
#ventana_40 .ventana-body {
	position 		: absolute;
	scroll-behavior : auto;
	overflow 		: scroll;
	left 			:  5px;
	width 			: 475;
	top 			: 5px;
	bottom 			: 40px;
	padding 		:  5px;
}
#ventana_40 .ventana-footer {
	position 	: absolute;
	bottom 		:  2px;
	left 		:  5px;
	right 		:  5px;
	height 		: 38px;
}

#ventana_40 .menu-principal-editor a {
	color: black !important;
	
}